@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mosh Investments Management Portal</h1>
    <p class="lead">Welcome to the Management Portal Click below for the  basic tutorial about the portal</p>
    <p><a href="http://moshivestments.se" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            The portal gives you a powerful, patterns-based way to manage employees that
            enables a clean separation of data and gives you full control.
        </p>
        <p><a class="btn btn-default" href="http://moshivestments.se">start here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more Power</h2>
        <p>The Portal give you ability to create, edit and manage the employement database as well as history data</p>
        <p><a class="btn btn-default" href="http://moshivestments.se">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Report Generation</h2>
        <p>You can easily Generate Reports of each individual item or group.</p>
        <p><a class="btn btn-default" href="http://moshivestments.se">Learn more &raquo;</a></p>
    </div>
</div>